# Practical Data Analysis with Pandas

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv(r'C:\Users\Lenovo\Downloads\disney_plus_titles.csv')

In [4]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,A Spark Story,"Jason Sterman, Leanne Dare","Apthon Corbin, Louis Gonzales",NaN,"September 24, 2021",2021,TV-PG,88 min,Documentary,Two Pixar filmmakers strive to bring their uni...
1,s2,Movie,Spooky Buddies,Robert Vince,"Tucker Albrizzi, Diedrich Bader, Ameko Eks Mas...","United States, Canada","September 24, 2021",2011,G,93 min,"Comedy, Fantasy, Kids",The puppies go on a spooky adventure through a...
2,s3,Movie,The Fault in Our Stars,Josh Boone,"Shailene Woodley, Ansel Elgort, Laura Dern, Sa...",United States,"September 24, 2021",2014,PG-13,127 min,"Coming of Age, Drama, Romance",Hazel and Gus share a love that sweeps them on...
3,s4,TV Show,Dog: Impossible,NaN,Matt Beisner,United States,"September 22, 2021",2019,TV-PG,2 Seasons,"Animals & Nature, Docuseries, Family",Matt Beisner uses unique approaches to modifyi...
4,s5,TV Show,Spidey And His Amazing Friends,NaN,"Benjamin Valic, Lily Sanfelippo, Jakari Fraser...",United States,"September 22, 2021",2021,TV-Y,1 Season,"Action-Adventure, Animation, Kids",Spidey teams up with pals to become The Spidey...

In [5]:
df.tail(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1365,s1366,TV Show,Disney Kirby Buckets,NaN,"Jacob Bertrand, Mekai Curtis, Cade Sutton, Oli...",United States,NaN,2014,TV-Y7,3 Seasons,"Action-Adventure, Comedy, Coming of Age",Welcome to Kirby's world! It's rude and sketchy.
1366,s1367,TV Show,Disney Mech-X4,NaN,"Nathaniel Potvin, Raymond Cham, Kamran Lucas, ...",Canada,NaN,2016,TV-Y7,2 Seasons,"Action-Adventure, Comedy, Science Fiction",Ryan discovers his ability to control a giant ...
1367,s1368,TV Show,Imagination Movers,NaN,"Rich Collins, Dave Poche, Scott Durbin, Scott ...",United States,NaN,2008,TV-Y,3 Seasons,"Kids, Music","Rock out with the Imagination Movers, Disney J..."

In [6]:
df.shape

(1368, 12)

In [7]:
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [8]:
df.isnull().sum()

show_id           0
type              0
title             0
director        440
cast            174
country         175
date_added        3
release_year      0
rating            2
duration          0
listed_in         0
description       0
dtype: int64

In [9]:
df.date_added.head()

0    September 24, 2021
1    September 24, 2021
2    September 24, 2021
3    September 22, 2021
4    September 22, 2021
Name: date_added, dtype: object

In [10]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [11]:
df["date_added"].head()

0    September 24, 2021
1    September 24, 2021
2    September 24, 2021
3    September 22, 2021
4    September 22, 2021
Name: date_added, dtype: object

In [12]:
df[["date_added","release_year"]].head()

           date_added  release_year
0  September 24, 2021          2021
1  September 24, 2021          2011
2  September 24, 2021          2014
3  September 22, 2021          2019
4  September 22, 2021          2021

In [13]:
df.rename(columns={"date_added":"DATE",
                   "release_year":"YEAR"},
          inplace=True)
df.head()

,show_id,type,title,director,cast,country,DATE,YEAR,rating,duration,listed_in,description
0,s1,Movie,A Spark Story,"Jason Sterman, Leanne Dare","Apthon Corbin, Louis Gonzales",NaN,"September 24, 2021",2021,TV-PG,88 min,Documentary,Two Pixar filmmakers strive to bring their uni...
1,s2,Movie,Spooky Buddies,Robert Vince,"Tucker Albrizzi, Diedrich Bader, Ameko Eks Mas...","United States, Canada","September 24, 2021",2011,G,93 min,"Comedy, Fantasy, Kids",The puppies go on a spooky adventure through a...
2,s3,Movie,The Fault in Our Stars,Josh Boone,"Shailene Woodley, Ansel Elgort, Laura Dern, Sa...",United States,"September 24, 2021",2014,PG-13,127 min,"Coming of Age, Drama, Romance",Hazel and Gus share a love that sweeps them on...
3,s4,TV Show,Dog: Impossible,NaN,Matt Beisner,United States,"September 22, 2021",2019,TV-PG,2 Seasons,"Animals & Nature, Docuseries, Family",Matt Beisner uses unique approaches to modifyi...
4,s5,TV Show,Spidey And His Amazing Friends,NaN,"Benjamin Valic, Lily Sanfelippo, Jakari Fraser...",United States,"September 22, 2021",2021,TV-Y,1 Season,"Action-Adventure, Animation, Kids",Spidey teams up with pals to become The Spidey...

In [14]:
df.iloc[0].head()

show_id                                s1
type                                Movie
title                       A Spark Story
director       Jason Sterman, Leanne Dare
cast        Apthon Corbin, Louis Gonzales
Name: 0, dtype: object

In [15]:
df.iloc[0,1]

'Movie'

In [16]:
df.iloc[0,[1,3,5]]

type                             Movie
director    Jason Sterman, Leanne Dare
country                            NaN
Name: 0, dtype: object

In [17]:
df.iloc[0:5,[1,3,5]]

      type                    director                country
0    Movie  Jason Sterman, Leanne Dare                    NaN
1    Movie                Robert Vince  United States, Canada
2    Movie                  Josh Boone          United States
3  TV Show                         NaN          United States
4  TV Show                         NaN          United States

In [18]:
df.iloc[0:5,0:5]

,show_id,type,title,director,cast
0,s1,Movie,A Spark Story,"Jason Sterman, Leanne Dare","Apthon Corbin, Louis Gonzales"
1,s2,Movie,Spooky Buddies,Robert Vince,"Tucker Albrizzi, Diedrich Bader, Ameko Eks Mas..."
2,s3,Movie,The Fault in Our Stars,Josh Boone,"Shailene Woodley, Ansel Elgort, Laura Dern, Sa..."
3,s4,TV Show,Dog: Impossible,NaN,Matt Beisner
4,s5,TV Show,Spidey And His Amazing Friends,NaN,"Benjamin Valic, Lily Sanfelippo, Jakari Fraser..."

In [19]:
df.loc[1:5,"show_id":"type"]

  show_id     type
1      s2    Movie
2      s3    Movie
3      s4  TV Show
4      s5  TV Show
5      s6  TV Show

In [20]:
df.shape

(1368, 12)

In [21]:
df.dropna(axis="columns",how="all").shape

(1368, 12)

In [22]:
df.dropna(axis="columns",how="any").shape

(1368, 7)

## A Simple Analysis

In [23]:
df.title.value_counts().head()

A Spark Story                        1
Jumping Ship                         1
Kingdom of the Blue Whale            1
Kingdom of the Apes: Battle Lines    1
Kim Possible Movie: So the Drama     1
Name: title, dtype: int64

In [24]:
df[df.title==
   "Moving Violation"
  ].country.value_counts(normalize=True)

Series([], Name: country, dtype: float64)

In [25]:
df[df.title==
   "Moving Violation"
  ].country.value_counts(
    normalize=True)

Series([], Name: country, dtype: float64)

In [26]:
df[df.country==
   "female"
  ].title.value_counts(
    normalize=True).head()

Series([], Name: title, dtype: float64)

In [27]:
df.groupby(
    "country"
).title.value_counts(
    normalize=True).head()

country                    title
Argentina                  Bia             0.500000
                           Violetta        0.500000
Argentina, Mexico          Soy Luna        1.000000
Australia, United Kingdom  Bluey           1.000000
Australia, United States   Jumping Ship    0.333333
Name: title, dtype: float64

In [28]:
df.groupby(
    "country"
).title.value_counts(
    normalize=True).unstack()

title,10 Things I Hate About You,101 Dalmatian Street,101 Dalmatians,101 Dalmatians II: Patch's London Adventure,102 Dalmatians,12 Dates of Christmas,"20,000 Leagues Under the Sea",700 Sharks,A Bug's Life,A Celebration of the Music from Coco,...,You Lucky Dog,You Wish!,Your Friend the Rat,Z-O-M-B-I-E-S,Zapped,Zenimation,Zenon: Girl of the 21st Century,Zenon: The Zequel,Zenon: Z3,Zootopia
country,,,,,,,,,,,,,,,,,,,,,
Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Argentina, Mexico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Australia, United Kingdom",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Australia, United States",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Austria, South Africa",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"United States, United Kingdom, Belgium, Canada",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"United States, United Kingdom, Canada",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"United States, United Kingdom, Hungary",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"United States, United Kingdom, South Africa",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"United States, United Kingdom, South Korea",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df.title.value_counts()

A Spark Story                                    1
Jumping Ship                                     1
Kingdom of the Blue Whale                        1
Kingdom of the Apes: Battle Lines                1
Kim Possible Movie: So the Drama                 1
                                                ..
Star Wars: The Rise of Skywalker (Episode IX)    1
Maleficent: Mistress of Evil                     1
It's a Dog's Life with Bill Farmer               1
The Boys: The Sherman Brothers' Story            1
Imagination Movers                               1
Name: title, Length: 1368, dtype: int64

In [30]:
df.country.value_counts(normalize=True)

United States                                      0.818106
United States, Canada                              0.023470
United Kingdom                                     0.019279
United States, United Kingdom                      0.015926
Canada, United States                              0.014250
                                                     ...
United Kingdom, United States, Canada              0.000838
United States, Germany, Ireland, United Kingdom    0.000838
United States, United Kingdom, South Africa        0.000838
United Kingdom, United States, Ireland             0.000838
New Zealand, United States                         0.000838
Name: country, Length: 87, dtype: float64

In [31]:
df.groupby(
    "title"
).country.value_counts(normalize=True)

title                                        country
10 Things I Hate About You                   United States                            1.0
101 Dalmatian Street                         United Kingdom, United States, Canada    1.0
101 Dalmatians                               United States                            1.0
101 Dalmatians II: Patch's London Adventure  United States                            1.0
102 Dalmatians                               United States, United Kingdom            1.0
                                                                                     ...
Zenimation                                   United States                            1.0
Zenon: Girl of the 21st Century              United States                            1.0
Zenon: The Zequel                            United States, New Zealand               1.0
Zenon: Z3                                    United States                            1.0
Zootopia                                     United States                            1.0
Name: country, Length: 1193, dtype: float64

In [52]:
df.groupby(
    ["title","director"]
).country.value_counts(
    normalize=True).head()

title                                        director                                             country
10 Things I Hate About You                   Gil Junger                                           United States                    1.0
101 Dalmatians                               Wolfgang Reitherman, Hamilton Luske, Clyde Geronimi  United States                    1.0
101 Dalmatians II: Patch's London Adventure  Jim Kammerud, Brian Smith                            United States                    1.0
102 Dalmatians                               Kevin Lima                                           United States, United Kingdom    1.0
12 Dates of Christmas                        James Hayman                                         United States                    1.0
Name: country, dtype: float64

In [47]:
df.DATE.str.slice(0,4).value_counts()

Nove    757
Apri     86
July     85
May      64
Janu     61
June     54
Sept     52
Augu     52
Dece     52
Febr     44
Octo     34
Marc     24
Name: DATE, dtype: int64

In [66]:
df.dtypes

show_id        object
type           object
title          object
director       object
cast           object
country        object
DATE           object
YEAR            int64
rating         object
duration       object
listed_in      object
description    object
dtype: object

In [73]:
df.YEAR.head()

0    2021
1    2011
2    2014
3    2019
4    2021
Name: YEAR, dtype: int64

In [74]:
df["YEAR"]=df.YEAR.astype(bool)

In [75]:
df.YEAR.value_counts()

True    1368
Name: YEAR, dtype: int64

In [76]:
df.YEAR.mean()

1.0