# Series Data Structure

In [1]:
import pandas as pd # Let's import Pandas with pd.

In [2]:
obj=pd.Series([5,"carry",9.5,"lead"])
obj

0        5
1    carry
2      9.5
3     lead
dtype: object

In [3]:
obj[0]

5

In [4]:
obj.values

array([5, 'carry', 9.5, 'lead'], dtype=object)

In [5]:
obj2=pd.Series([1,"carry",3.5,"lead"],index=["a","b","c","d"])
obj2

a        1
b    carry
c      3.5
d     lead
dtype: object

In [6]:
obj2["b"]

'John'

In [7]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [7]:
score={"Carry":90, "Elon":80,"Team":85,"Coock":75,"Nelsom":95}
names=pd.Series(score) # Convert to Series 
names

Carry     90
Elon      80
Team      85
Coock     75
Nelsom    95
dtype: int64

In [8]:
names["Team"]

85

In [9]:
names[names>=85]

Carry     90
Team      85
Nelsom    95
dtype: int64

In [10]:
names["Team"]=60
names

Carry     90
Elon      80
Team      60
Coock     75
Nelsom    95
dtype: int64

In [11]:
names[names<=80]=83
names

Carry     90
Elon      83
Team      83
Coock     83
Nelsom    95
dtype: int64

In [12]:
"Team" in names

True

In [13]:
"dad" in names

False

In [14]:
names/10

Carry     9.0
Elon      8.3
Team      8.3
Coock     8.3
Nelsom    9.5
dtype: float64

In [15]:
names**2

Carry     8100
Elon      6889
Team      6889
Coock     6889
Nelsom    9025
dtype: int64

In [16]:
names.isnull()

Carry     False
Elon      False
Team      False
Coock     False
Nelsom    False
dtype: bool